# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/tuto3/HelloWorld/nbproject/private/
/tuto3/HelloWorld/build/
/Tuto4/nbproject/private/
/Tuto4/build/
/VariablesOperators/nbproject/private/
/VariablesOperators/build/
/ConditionalLoopArrays/nbproject/private/
/ConditionalLoopArrays/build/
/CalcEngine/nbproject/private/
/CalcEngine/build/